* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-size: 1.5rem;
  margin: 0px;
}

h3 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.navbar .navbar__back {
  display: flex;
  font-size: 1.5rem;
  color: #353535;
  flex: 1;
  padding-left: 20px;
}
.navbar .navbar__logo {
  position: absolute;
  width: 162px;
}

.footer {
  color: white;
  background-color: #353535;
}
.footer .footer__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  padding: 20px;
}
.footer .footer__content img {
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(7deg) brightness(102%) contrast(104%);
}
.footer .footer__content ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style-type: none;
}
.footer .footer__content ul .footer__div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer .footer__content ul .footer__div__link {
  display: grid;
  grid-template-columns: 15px auto;
  gap: 7px;
  font-weight: 600;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border-style: hidden;
  color: white;
  background: linear-gradient(-2deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.main-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #F6F6F6;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 17px;
  color: #353535;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.reservation {
  display: flex;
}
section.reservation .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 18px;
  padding: 20px;
}

section.fonctionnement {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
  padding: 50px 20px;
  background-color: white;
}
section.fonctionnement .fonctionnement__card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 27px;
}
section.fonctionnement .fonctionnement__card .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 72px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
section.fonctionnement .fonctionnement__card .card .card__content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  font-weight: 600;
}
section.fonctionnement .fonctionnement__card .card .card__content .fa-solid {
  color: #7E7E7E;
  font-size: 1.5rem;
}
section.fonctionnement .fonctionnement__card .card .card__content .fa-store {
  color: #9356DC;
  font-size: 1.5rem;
}
section.fonctionnement .fonctionnement__card .card .card__content h3 {
  font-size: 1rem;
}

section.restaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
  padding: 20px 20px 50px 20px;
}
section.restaurants .content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
section.restaurants .content .card {
  background-color: white;
  border-radius: 20px;
  padding: 0px 0px 5px 0px;
}
section.restaurants .content .card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}
section.restaurants .content .card .card__content {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
}
section.restaurants .content .card .card__content .card__content__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
section.restaurants .content .card .card__content .card__content__text h3 {
  font-size: 1.125rem;
  font-weight: bold;
}
section.restaurants .content .card .card__content .card__content__text p {
  font-size: 1.063rem;
  font-weight: lighter;
}

.main-sections__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.main-sections__menu img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #F6F6F6;
  padding: 40px 20px;
  border-radius: 50px 50px 0px 0px;
  gap: 40px;
}
.menu .menu__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu .menu__title h1 {
  font-size: 1.75rem;
  font-family: "Shrikhand", sans-serif;
}

section.menu__choice {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
section.menu__choice h2 {
  font-size: 1rem;
  font-weight: lighter;
  text-transform: uppercase;
}
section.menu__choice .menu__card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
section.menu__choice .menu__card .card {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
section.menu__choice .menu__card .card .card__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.938rem;
  font-weight: lighter;
}
section.menu__choice .menu__card .card .card__content h3 {
  font-size: 1.125rem;
  font-weight: 600;
}
section.menu__choice .menu__card .card .price {
  display: flex;
  align-items: end;
  font-weight: bold;
  color: #353535;
}

.main-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  max-width: 768px;
}

.fa-heart {
  font-size: 1.6rem;
}

/*# sourceMappingURL=style.css.map */
