@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-size: 1.5rem;
  margin: 0px;
}
@media (min-width: 1025px) {
  h1, h2 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  margin: 0px;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1.125rem;
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
}

p {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
}
@media (min-width: 769px) {
  .main-container {
    max-width: 1024px;
  }
}
@media (min-width: 769px) and (min-width: 1025px) {
  .main-container {
    max-width: 100%;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1025px) {
  .navbar {
    height: 96px;
  }
}
.navbar .navbar__back {
  display: flex;
  font-size: 1.5rem;
  color: #353535;
  flex: 1;
  padding-left: 20px;
}
.navbar .navbar__logo {
  position: absolute;
  width: 162px;
}

.footer {
  color: white;
  background-color: #353535;
}
.footer .footer__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  padding: 20px;
}
@media (min-width: 1025px) {
  .footer .footer__container {
    flex-direction: row-reverse;
    gap: 50px;
    align-items: end;
    height: 114px;
    padding-right: 50px;
  }
}
.footer .footer__container .footer__content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1025px) {
  .footer .footer__container .footer__content {
    flex-direction: row;
    gap: 50px;
  }
}
.footer .footer__container .footer__content ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style-type: none;
}
@media (min-width: 1025px) {
  .footer .footer__container .footer__content ul {
    flex-direction: row;
    gap: 16px;
  }
}
.footer .footer__container .footer__content .footer__content--bold {
  font-weight: 600;
}
.footer .footer__container .footer__content .footer__content--bold .fa-solid {
  width: 15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border-style: hidden;
  color: white;
  background: linear-gradient(-2deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition-duration: 400ms;
}
.btn:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.btn:hover {
  opacity: 0.85;
}

.fa-heart {
  font-size: 1.6rem;
}

/* Idée :
Faire une assiette au milieu
Fourchette apparait de la gauche (slide in ?)
Une fois la fourchette arrivée, couteau apparaît de la droite (tranchant tourné vers l'assiette)

Couleur de fond : $tertiary-color
 */
.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid #F6F6F6;
}

.main-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #F6F6F6;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 17px;
  color: #353535;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.reservation {
  display: flex;
}
section.reservation .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 18px;
  padding: 20px;
}
@media (min-width: 1025px) {
  section.reservation .content {
    gap: 30px;
  }
}

section.fonctionnement {
  width: 100%;
  padding: 50px 20px;
  background-color: white;
}
section.fonctionnement .fonctionnement__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 1025px) {
  section.fonctionnement .fonctionnement__content {
    max-width: 1080px;
    margin: 0 auto;
  }
}
section.fonctionnement .fonctionnement__card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 27px;
  margin-left: 10px;
}
section.fonctionnement .fonctionnement__card .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 72px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
section.fonctionnement .fonctionnement__card .card p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
  transform: translate(-12px, 0%);
}
section.fonctionnement .fonctionnement__card .card .card__content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  font-weight: 600;
}
section.fonctionnement .fonctionnement__card .card .card__content .fa-solid {
  color: #7E7E7E;
  font-size: 1.5rem;
}
section.fonctionnement .fonctionnement__card .card .card__content .fa-store {
  color: #9356DC;
  font-size: 1.5rem;
}
section.fonctionnement .fonctionnement__card .card .card__content h3 {
  font-size: 1rem;
}

section.restaurants {
  width: 100%;
  padding: 0px 20px 30px 20px;
}
section.restaurants .restaurants__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 1025px) {
  section.restaurants .restaurants__content {
    max-width: 1080px;
    margin: 0 auto;
  }
}
section.restaurants .cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 769px) {
  section.restaurants .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    row-gap: 50px;
    column-gap: 100px;
  }
}
section.restaurants .cards a {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
section.restaurants .cards a .new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  color: #008766;
  font-weight: bold;
  font-size: 0.875rem;
  background-color: #99E2D0;
  transform: translate(-15px, -110px);
  /* z-index: 1; */
  grid-area: 1/1;
  margin: auto 0px auto auto;
}
section.restaurants .cards a .card {
  background-color: white;
  border-radius: 20px;
  padding: 0px 0px 5px 0px;
  grid-area: 1/1;
}
section.restaurants .cards a .card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}
section.restaurants .cards a .card .card__content {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
}
section.restaurants .cards a .card .card__content .card__content__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
section.restaurants .cards a .card .card__content .card__content__text h3 {
  font-size: 1.125rem;
  font-weight: bold;
}
section.restaurants .cards a .card .card__content .card__content__text p {
  font-size: 1.063rem;
  font-weight: lighter;
}

.main-sections__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-sections__menu img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 1025px) {
  .main-sections__menu img {
    height: 383px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #F6F6F6;
  padding: 40px 20px;
  border-radius: 50px 50px 0px 0px;
  gap: 40px;
}
@media (min-width: 769px) {
  .menu {
    max-width: 1055px;
  }
}
.menu .menu__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu .menu__title h1 {
  font-size: 1.75rem;
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
}
@media (min-width: 1025px) {
  .menu .menu__title {
    justify-content: center;
    gap: 24px;
  }
}

section.menu__choice {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
section.menu__choice:hover #slide {
  transition: 1s;
  left: 0;
}
section.menu__choice h2 {
  font-size: 1rem;
  font-weight: lighter;
  text-transform: uppercase;
}
section.menu__choice h2::after {
  content: "";
  display: flex;
  border-bottom: 3px #99E2D0 solid;
  width: 40px;
  height: 8px;
}
@media (min-width: 1025px) {
  section.menu__choice {
    max-width: 634px;
  }
}
section.menu__choice .menu__card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
section.menu__choice .menu__card .card {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
section.menu__choice .menu__card .card .card__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.938rem;
  font-weight: lighter;
}
section.menu__choice .menu__card .card .card__content h3 {
  font-size: 1.125rem;
  font-weight: 600;
}
section.menu__choice .menu__card .card .price {
  display: flex;
  align-items: end;
  font-weight: bold;
  color: #353535;
}

/****** Media queries ***********/
/* Small devices (Mobile phones, less/equal than 768px) */
/* Medium devices (tablets, less/equal than 1024px) */
/* Large devices (desktop, large desktop, less/equal than 1440px) */

/*# sourceMappingURL=style.css.map */
