.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border-style: hidden;
    color: white;
    background: linear-gradient(-2deg, $primary-color 0%, $secondary-color 100%); 
    @include btn-shadow;
    transition-duration: 400ms;
    
    position: relative;
    z-index: 1;

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #ffffff15;
        opacity: 0;
        z-index: -1;
    }
}