// Like button
.heart {
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    width: 24px;
}

.heart-fill {
    position: absolute;
    opacity: 1;
    cursor: pointer;
    top: 0;
    left: 0;
}
.heart-empty {
    position: absolute;
    transition: 400ms ease-in;
    cursor: pointer;
    top: 0;
    left: 0;
    
    &:hover {
        opacity: 0;
    }
}

