.heart-like {
    height: 21px;
    width: 24px;
    fill: white;
    stroke: black;
    stroke-width: 30px;

    &__fill {
        &:hover {
            transform-origin: bottom;
            transition: 1s;
            animation: 2s linear 0s heart-like__fill;
            animation-fill-mode: both;
        }
    }    
}

@keyframes heart-like__fill{
    0% {
        transform: scaleY(0);
        fill: white;
        stroke: white;
    }
    50% {
        transform: scaleY(0.5);
        fill: $primary-color;
        stroke: $primary-color;
    }
    100% {
        transform: scaleY(1);
        fill: $secondary-color;
        stroke: $secondary-color;

    }
}

//fill: linear-gradient(-2deg, $primary-color 0%, $secondary-color 100%);
