.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: loader 2500ms ease-in;
    animation-fill-mode: forwards;
    background-color: $tertiary-color;
    z-index: 3;

    .fork {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      fill: white;
      animation: bounce-in-left 2s ease 300ms;
      opacity: 0;
      animation-fill-mode:forwards;
    }

    .plate {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: white;
      animation: bounce-in 2s ease;

      &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 5px solid $bg-color;
      }
    }

    .knife {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      fill: white;
      animation: bounce-in-right 2s ease 100ms;
      opacity: 0;
      animation-fill-mode:forwards;
    }
}