/* Idée :
Faire une assiette au milieu (stroke-dasharray et stroke-dashoffset pour animer le contour de l'assiette ?)
Fourchette apparait de la gauche (slide in ?)
Une fois la fourchette arrivée, couteau apparaît de la droite (tranchant tourné vers l'assiette)

Couleur de fond : $tertiary-color

Transition douce pour le passage du loader à l'index
 */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100%;
    animation: loader 2500ms ease-in;
    animation-fill-mode: forwards;
    background-color: $tertiary-color;
    z-index: 3;

    .fork {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      fill: white;
      stroke: $bg-color;
      stroke-width: 1px;
      animation: bounce-in-left 2s ease 300ms;
      opacity: 0;
      animation-fill-mode:forwards;
    }

    .plate {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 5px solid $bg-color;
      background-color: white;
      animation: bounce-in 2s ease
    }

    .knife {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      fill: white;
      stroke: $bg-color;
      stroke-width: 1px;
      animation: bounce-in-right 2s ease 150ms;
      opacity: 0;
      animation-fill-mode:forwards;
    }
}

@keyframes loader {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@keyframes bounce-in-left {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% { 
    transform: translateX(-10px); 
  }
  100% { 
    opacity: 1;
    transform: translateX(0); 
  }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { 
    transform: scale(.9); 
  }
  100% { 
    transform: scale(1); 
  }
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px) matrix(-1,0,0,1,0,0);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px) matrix(-1,0,0,1,0,0);
  }
  80% { 
    transform: translateX(10px) matrix(-1,0,0,1,0,0); 
  }
  100% { 
    opacity: 1;
    transform: translateX(0) matrix(-1,0,0,1,0,0); 
  }
}

