.footer {
    color: white;
    background-color: $quaternary-color;

    .footer__container {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 7px;
        padding: 20px; 
    
        ul {
            display: flex;
            flex-direction: column;
            gap: 7px;
            list-style-type: none;
        }

        .footer__content--bold {
            font-weight: 600;
            
            .fa-solid {
                width: 15px;
            }
        }
    }
}